body {
	background: url('../../img/lightning.png');
	background-position: 50% 30%;
}

@media (max-width: 496px) {
	body {
		background: url('../../img/lightning2.png');
		background-size: cover !important;	
	}
}

#main-card {
	background-color: rgba(255, 255, 255, 0.7);
	padding-bottom: 15px !important;
	padding-top: 35px !important;
	border-radius: 20px !important;
}

.fa.active {
	color: #3f51b5 !important;
}

.input-field input:focus + label {
 	color: #3f51b5 !important;
}

.input-field > label {
	color: #404040 !important;
}

.input-field input {
	border-bottom: 1px solid #1a1a1a !important;
	box-shadow: 0 1px 0 0 #1a1a1a !important;
}

.input-field input:focus {
	border-bottom: 1px solid #3f51b5 !important;
	box-shadow: 0 1px 0 0 #3f51b5 !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.card-title {
	letter-spacing: 3px !important;
}

#btn-submit {
	height: 40px !important;
	font-size: 18px !important;
}

@media (max-width: 364px) {
	#btn-submit {
		width: 93% !important;
		margin-left: 4%;
	}	
}